@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
}

.App form {
  position: relative;
  left: 35%;
}

.App form input {
  margin: 2px;
  width: 250px;
  height: 40px;
  border: none;
  border: 1px solid grey;
  padding-left: 20px;
  font-size: 13px;
  border-radius: 25px 0px 0px 25px;
}

.App form button {
  width: 150px;
  height: 43px;
  border: 1px solid #669999;
  border-radius: 0px 25px 25px 0px;
  background-color: #669999;
  color: #fff;
}
